* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Oxygen', sans-serif; */
}

input {
    font-family: inherit;
}